@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@400;600;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 100%;
    height: 55px;
    background-color: white;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.nav a{
    font-size: 22px;
    font-weight: 22px;
    text-decoration: none;
    font-weight: 600;
    color: royalblue;   

}
.nav input{
    width: 200px;
    height:35px;
    border: none;
    border-radius: 10px;
    background-color: #F2F2F2;
    position: relative;
    left: 20px;
}
.logo{
    width: 250px;
    height: 40px;
    
}
.menu{
     width: 20%;
     text-decoration: none;
     display: flex;
     justify-content: space-around;
     text-align: center;
     font-weight: 600;
}

.content img{
  width: 620px;
  height: 470px;
position: relative;
  left: 70px;
  top: 90px;
}
.content h1{
  float: right;
  position: relative;
  top: 100px;
  width: 30%;
  font-size: 48px;
  font-weight: 600;
  left: -280px;
}
.content h5{
  float: right;
  width: 600px;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  right: 135px;
  top: -150px;
}
.button button{
  height: 50px;
  width: 200px;
  background-color: royalblue;
  border: none;
  border-radius: 5px;
  font-size: 2
}

.box{
  width: 200px;
  height: 200px;
  background-color: red;
}

.imgone{
  z-index: -1;
}
